@import 'partials/variables';
@import 'partials/components';
@keyframes prog1 {
    from {
        width: 0;
    }
    to {
        width: 90%;
    }
}
@keyframes prog2 {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}
@keyframes prog3 {
    from {
        width: 0;
    }
    to {
        width: 70%;
    }
}
@keyframes prog4 {
    from {
        width: 0;
    }
    to {
        width: 60%;
    }
}
body {
    font-family: 'Roboto', sans-serif;
    color: $sColor;
    font-size: 16px;
    line-height: 1.75;
    
}
*::selection {
    background-color: $pColor;
    color: $white;
} 
.container {
    width: 1230px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 100%;
}
.container-fluid {
    padding: 0;
}
section {
    padding: 90px 0px;
}
.up {
    position: fixed;
    right: 30px;
    bottom: 40px;
    z-index: 9;
    a {
        padding: 0;
        width: 35px;
        height: 35px;
        min-width: 35px;
    }
    i {
        font-size: 22px;
        line-height: 35px;
    }
}
//header
header {
    .info-head {
        padding: 35px 0px;
        .container {
            .row {
                .col-lg-2 {
                    .left {
                        a {
                            img {
                                &:hover {
                                    opacity: 0.8;
                                }
                            }
                        }
                    }
                }
                .col-lg-10 {
                    text-align: right;
                    .right {
                        .info-main {
                            display: inline-block;
                            ul {
                            display: inline-block;
                                li {
                                    display: inline-block;
                                    margin-right: 40px;
                                    text-align: left;
                                    i {
                                        font-size: 36px;
                                        color: $pColor;
                                    }
                                    .info {
                                        display: inline-block;
                                        margin-left: 10px;
                                        h6 {
                                            font-size: 14px;
                                            font-weight: bold;
                                            margin: 0;
                                            color: $black;
                                        }
                                        a {
                                            font-size: 14px;
                                            color: $sColor;
                                        }
                                        span {
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                        .button {
                            display: inline-block;
                                                    }
                    }
                }
            }
        }
    }
    .heading {
        background: $pColor;
        padding: 5px;
        .col-lg-8 {
            .left {
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        display: inline-block;
                        a {
                            display: block;
                            font-size: 14px;
                            font-weight: 500;
                            padding: 15px 0;
                            margin-right: 25px;
                            position: relative;
                            color: $white;
                            text-decoration: none;
                            transition: all 0.5s;
                            &::before {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 5px;
                                background: $white;
                                bottom: -5px;
                                transition: all 0.5s;
                                opacity: 0;
                            }
                            &:hover::before {
                                opacity: 1;
                            }
                        }
                        .drop {
                            padding-right: 20px;
                            &::after {
                                content: "\f107";
                                font-family: 'Font Awesome 5 Free';
                                margin-left: 10px;
                                margin-right: 0;
                                position: absolute;
                                right: 3px;
                                top: 17px;
                                transition: all 0.3s ease-in-out;
                                font-size: 12px;
                                font-weight: 900;
                            }
                        }
                        .active {
                            &::before {
                                opacity: 1;
                            }
                        }
                        .home-down {
                            position: absolute;
                            box-shadow: 0 0px 20px rgba(166, 166, 166, 0.25);
                            padding: 10px 25px;
                            width: 200px;
                            margin-top: 20px;
                            opacity: 0;
                            visibility: hidden;
                            transition: all 0.3s;
                            z-index: 10;
                            background: $white;
                            ul {
                                li {
                                    display: block;
                                    border-bottom: 1px solid #8888882e;
                                    a {
                                        color: $sColor;
                                        padding: 12px 0px;
                                        &:before {
                                            content: "\f105";
                                            font-family: 'Font Awesome 5 Free';
                                            position: absolute;
                                            opacity: 0;
                                            transition: all 0.2s ease-in-out 0s;
                                            font-weight: 900;
                                            left: -15px;
                                            top: 11px;
                                        }
                                        &:hover {
                                            color: $pColor;
                                            padding-left: 10px;
                                            &::before {
                                                opacity: 1;
                                                color: $pColor;
                                                padding-left: 10px;
                                            } 
                                        }
                                    }
                                    &:last-child {
                                        border: none;
                                    }
                                }
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                width: 30px;
                                height: 30px;
                                background: $white;
                                top: -3px;
                                left: 10px;
                                transform: rotate(45deg);
                                transition: all 0.3s;                         
                            
                            }
                        }
                        .elements {
                            width: 1180px;
                            left: 0;
                            top: 36px;
                            padding: 20px 0px;
                            ul {
                                display: inline-block;
                                width: 24%;
                                // padding-left: 40px;
                                border-left: 1px solid #8888882e;
                                li {
                                    border: none;
                                    padding-left: 20px;
                                    a {
                                        padding: 7px 0px;
                                        &::before {
                                            top: 5px;
                                        }
                                    }
                                }
                            }
                            &::before{
                                display: none;
                            }
                        }
                    }
                    .hover-down {
                        &:hover {
                            .home-down {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
        .col-lg-4 {
            .right {
                .socials1 {
                    ul {
                        margin: 0;
                        padding: 0;
                        li {
                            display: inline-block;
                            margin: 5px;
                            margin-bottom: 0;
                            a {
                                display: inline-block;
                                height: 40px;
                                line-height: 40px;
                                margin-right: 0;
                                padding: 0;
                                text-align: center;
                                width: 40px;
                                color: $white;
                                transition: all 0.5s;
                                i {
                                    font-size: 15px; 
                                }
                                
                            }
                            .fb {
                                &:hover {
                                    background: #3b5998;
                                }
                            }
                            .yt {
                                &:hover {
                                    background: #bb0000;
                                }
                            }
                            .tw{
                                &:hover {
                                    background: #00aced;
                                }
                            }
                            .ln {
                                &:hover {
                                    background: #007bb6;
                                }
                            }
                            .ig {
                                &:hover {
                                    background: #517fa4;
                                }
                            }
                        }
                        .lastLi {
                            position: relative;
                            .search {
                                position: absolute;
                                opacity: 0;
                                right: 0;
                                top: 48px;
                                transition: all 0.3s;
                                padding: 25px 30px 25px;
                                box-shadow: 0 0px 20px rgba(166, 166, 166, 0.25);
                                background: $white;
                                z-index: 10;
                                form {
                                    input {
                                        border: 5px solid #f7f7f7;
                                        padding: 7px 10px 7px 15px;
                                        width: 430px;
                                        margin: 0 auto;
                                        max-width: 100%;
                                    }
                                    a {
                                        position: absolute;
                                        top: 23px;
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .scrolled {
        position: fixed;
        width: 100%;
        top: 0;
        padding: 10px 0px;
        transition: all 0.5s;
        z-index: 10;
    }
}
//home
#home {
    padding: 0px;
    position: relative;
    .slide {
        height: 100vh;
        background-size: cover;
        background-position: center;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        }
    }
    .slide1 {
        background-image: url("../img/slider/1.jpg");
    }
    .slide2 {
        background-image: url("../img/slider/2.jpg");
    }
    .slide3 {
        background-image: url("../img/slider/3.jpg");
    }
    .slide4 {
        background-image: url("../img/slider/4.jpg");
    }
    .col-lg-8 {
        margin-left: 140px; 
                .heading {
                    font-size: 60px;
                    line-height: 1.2;
                    margin-bottom: 15px;
                    transition: all 0.5s linear 1s;
                    font-weight: 700;
                    max-width: 100%;
                    display: inline-block;
                    font-family: 'Poppins', sans-serif;
                    color: #fff;
                    text-decoration: none;
                }
                p {
                    font-size: 19px;
                    margin-bottom: 45px;
                    color: #e2e1e1;
                    font-weight: 400;
                }
                .buttons {
                    .bttn1 {
                        &:hover {
                            background: $white;
                            color: $black;
                        }
                    }
                    .bttn2 {
                        color: $black;
                        background: $white;
                        &:hover {
                            background: $pColor;
                            color: $white;
                        }
                    }
                }
                
    }
    //carousel
    .owl-carousel {
        .owl-dots {
            position: absolute;
            bottom: 0;
            left: 47%;
            .owl-dot {
                span {
                    width: 12px;
                    height: 12px;
                    background: $white;
                    transition: all 0.5s;
                }
                transition: all 0.5s;
            }
            .active {
                transition: all 0.5s;
                span {
                    background: $pColor;
                    height: 30px;
                    transition: all 0.5s;
                }
            }
        }
        .owl-next {
            position: absolute;
            right: 2%;
            top: 50%;
            color: #ffffff;
            cursor: pointer;
            display: block;
            font-size: 20px;
            text-align: center;
            width: 45px;
            z-index: 10;
            height: 45px;
            padding: 0;
            line-height: 2.2;
            background: rgba(14, 14, 14, 0.26);
            transition: all 0.2s ease-in-out 0s;
            opacity: 0;
            &:hover {
                background: $pColor;
            }
        }
        .owl-prev {
            position: absolute;
            left: 2%;
            top: 50%;
            color: #ffffff;
            cursor: pointer;
            display: block;
            font-size: 20px;
            text-align: center;
            width: 45px;
            z-index: 10;
            height: 45px;
            padding: 0;
            line-height: 2.2;
            background: rgba(14, 14, 14, 0.26);
            transition: all 0.2s ease-in-out 0s;
            opacity: 0;
            &:hover {
                background: $pColor;
            }
        }
        &:hover {
            .owl-next {
                opacity: 1;
            }
            .owl-prev {
                opacity: 1;
            }
        }
    }
}
//features 
#features {
    padding-top: 0px;
    .col-lg-4 {
        margin-bottom: 40px;
        .myCard {
            .cardBody {
                a {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    color: #000;
                    line-height: 1.5;
                    text-decoration: none;
                    font-size: 22px;
                    position: relative;
                    &:hover {
                        color: $pColor;
                    }
                    

                }
                p {
                    margin: 15px 0px;
                }
                .more  {
                    text-decoration: none;
                    font-size: 14px;
                    transition: all 0.3s;

                 &::after {
                    content: "\f30b";
                    font-family: 'Font Awesome 5 Free';
                    padding-left: 6px;
                    font-weight: normal;
                    font-size: 12px;
                    font-weight: 900;
                 }
                 &:hover {
                     color: $pColor;
                     padding-left: 10px;
                     transition: all 0.3s;
                     &::after {
                         content: "\f00c";
                     } 
                 }
                }
            }
        }
    }
}
//cover1
#cover1 {
    background-image: url("../img/cover1.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    h2 {
        color: $white;
        margin-bottom: 15px;
    }
    p {
        color: $white;
        margin-bottom: 35px;
    }
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.76);
        position: absolute;
        top: 0;
    }
}
//info 
#info {
    img {
        max-width: 100%;
    }
    h2 {
        color: $black;
    }
    h5 {
        color: $black;
        margin: 20px 0px;
    }
    ul {
        li {
            list-style-type: none;
            position: relative;
            margin: 15px 0px;
            font-size: 15px;
            &::before {
                content: "\f00c";
                font-family: 'Font Awesome 5 Free';
                position: absolute;
                color: $pColor;
                font-size: 13px;
                font-weight: 900;
                left: -30px;
            }
        }
    }

}
//feature2
#feature2 {
    background-image: url("../img/features.jpg");
    background-position: center;
    background-size: cover; 
    .col-lg-8 {
        .row {
            .col-lg-6 {
                margin: 10px 0px;
                .iconHover {
                    background: $white;
                    margin: 0;
                    display: inline-block;
                }
                .fBody {
                    display: inline-block;
                    width: 70%;
                    margin-left: 30px;
                    h5 {
                        a {
                            color: $black;
                            text-decoration: none;
                            &:hover {
                                color: $pColor;
                            }
                        }
                    }
                    p {
                        line-height: 1.75;
                    }  
                }
             
            }
        }
    }
}
//news
#news {
    .col-lg-4 {
        .myCard {
            padding: 0;
            text-align: left;
            .cardHead {
                overflow: hidden;
                img {
                    max-width: 100%;
                    transition: all 0.5s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            .cardBody {
                padding: 35px;
                a {
                    text-decoration: none;
                    color: $black;
                    font-size: 22px;
                    font-weight: 600;
                    display: block;
                    &:hover {
                        color: $pColor;
                    }
                }
                p {
                    margin: 15px 0px;
                }
                .more  {
                    text-decoration: none;
                    font-size: 14px;
                    transition: all 0.3s;

                 &::after {
                    content: "\f30b";
                    font-family: 'Font Awesome 5 Free';
                    padding-left: 6px;
                    font-weight: normal;
                    font-size: 12px;
                    font-weight: 900;
                 }
                 &:hover {
                     color: $pColor;
                     padding-left: 10px;
                     transition: all 0.3s;
                     &::after {
                         content: "\f00c";
                     } 
                 }
                }
                span {
                    font-size: 14px;
                    position: relative;
                    margin: 0px 20px;
                }
                .date {
                    &::before {
                        content: "\f274";
                        position: absolute;
                        font-family: 'Font Awesome 5 Free';
                        left: -20px;
                    }
                }
                .status {
                    &::before {
                        content: "\f07c";
                        left: -20px;
                        position: absolute;
                        font-family: 'Font Awesome 5 Free';
                    }
                }
            }
        }
    }
}
//buy
#buy {
    .col-lg-12 {
        background: $black;
        padding: 40px;
        h1 {
            display: inline-block;
            color: $white;
        }
        a {
            &:hover {
                color: $black;
                background: $white;
            }
        }
    }
}
//team 
#team {
    .col-lg-3 {
        .myCard {
            padding: 0px;
            z-index: 1;
            .cardHead {
                overflow: hidden;
                img {
                    max-width: 100%;
                    transition: all 0.5s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            .cardBody {
                padding: 20px 35px;
                .socials {
                    a {
                        display: inline-block;
                    }
                }
                .job {
                    color: $pColor;
                }
                a {
                    text-decoration: none;
                    color: $black;
                    font-size: 21px;
                    font-weight: 600;
                    display: block;
                    &:hover {
                        color: $pColor;
                    }
                }
            }
        }
    }
}
//test
#test {
    background: $black;
    .head-row {
        color: white;
        h1 {
            color: $white;
        }
    }
    .myCard2 {
        padding: 40px;
        background-color: $white;
        .heading {
            position: relative;
            a {
                text-decoration: none;
                transition: all 0.5s;
                display: inline-block;
                img {
                    height: 100px;
                    width: 100px;
                    border-radius: 100%;
                    
                }
                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    width: 100%;
                    height: 100%;
                transition: all 0.5s;
                    
                }
                &:hover {
                    &::before {
                        background: rgba(255, 255, 255, 0.22);
                    }
                }
            }
            
        }
        .cardBody {
            p {
                font-style: italic;
                padding: 10px;
                margin: 0;
            }
            i {
                color: #ffa500;
                font-size: 14px;
            }
            a {
                text-decoration: none;
                color: $black;

                h3 {
                    font-size: 22px;
                    transition: all 0.3s;
                }
                &:hover {
                    color: $pColor;
                }

            }
            span {
                font-size: 14px;
            }
        }
    }
    .owl-carousel {
        position: relative;
    }
    .owl-nav {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: -50px;
        margin: 0;
    }
    .owl-prev {
        span {
            color: #000;
            display: block;
            font-weight: normal;
            line-height: 0.8;
            font-size: 17px;
            padding: 10px 14px;
            background: #f5f5f5;
            transition: all 0.5s;
            &:hover {
                background: $pColor;
                color: $white;
            }
        }
        
    }
    .owl-next {
        span {
            color: #000;
            display: block;
            font-weight: normal;
            line-height: 0.8;
            font-size: 17px;
            padding: 10px 14px;
            background: #f5f5f5;
            transition: all 0.5s;

            &:hover {
                background: $pColor;
                color: $white;
            }
        }
        
    }
}
//events
#events {
    .head {
        color: $black;
        border-bottom: 2px solid #88888814;
        padding-bottom: 20px;
        i {
            font-size: 22px;
            margin-right: 15px;
        }
        h4 {
            display: inline-block;
            margin: 0;
        }
    }
    .col-lg-4 {
        
        .body {
            .col-lg-2 {
                box-shadow: 0px 0px 32px 0px rgba(122,122,122,0.1);
                padding: 0;
                i {
                    background: #88888830;
                    color: $black;
                    display: block;
                }
                h1 {
                    font-weight: 400;
                    font-size: 45px;
                    padding-top: 5px;
                }
            }
            .col-lg-10 {
                a {
                    color: $black;
                    font-size: 20px;
                    text-decoration: none;
                    font-weight: 500;
                    &:hover {
                        color: $pColor;
                    }
                }
                p {
                    margin: 0;
                }
            }
        }
    }
    .col-lg-8 {
        .col-lg-12 {
            .myCard {
                padding: 0;
                text-align: left;
                .cardHead {
                    overflow: hidden;
                    img {
                        max-width: 100%;
                        transition: all 0.5s;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
                .cardBody {
                    padding: 35px;
                    a {
                        text-decoration: none;
                        color: $black;
                        font-size: 22px;
                        font-weight: 600;
                        display: block;
                        &:hover {
                            color: $pColor;
                        }
                    }
                    p {
                        margin: 15px 0px;
                    }
                    span {
                        font-size: 14px;
                        position: relative;
                        margin: 0px 20px;
                    }
                    .date {
                        &::before {
                            content: "\f274";
                            position: absolute;
                            font-family: 'Font Awesome 5 Free';
                            left: -20px;
                        }
                    }
                    .status {
                        &::before {
                            content: "\f07c";
                            left: -20px;
                            position: absolute;
                            font-family: 'Font Awesome 5 Free';
                        }
                    }
                }
            }
        }
    }
    .owl-carousel {
        position: relative;
    }
    .owl-nav {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: -70px;
        margin: 0;
    }
    .owl-prev {
        span {
            color: #000;
            display: block;
            font-weight: normal;
            line-height: 0.8;
            font-size: 17px;
            padding: 10px 14px;
            background: #f5f5f5;
            transition: all 0.5s;
            &:hover {
                background: $pColor;
                color: $white;
            }
        }
        
    }
    .owl-next {
        span {
            color: #000;
            display: block;
            font-weight: normal;
            line-height: 0.8;
            font-size: 17px;
            padding: 10px 14px;
            background: #f5f5f5;
            transition: all 0.5s;

            &:hover {
                background: $pColor;
                color: $white;
            }
        }
        
    }
}
//counts
#counts {
    background-image: url("../img/counter-bg.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    .head-row {
        h1 {
            color: $white;
            font-size: 33px;
        }
        span {
            &::before {
                width: 0;
            }
        }
        color: $white;
    }
    .right {
        i {
            font-size: 35px;
            color: $pColor;
        }
        .counts {
            display: inline-block;
            .counter {
                color: $white;
                font-size: 40px;
                font-weight: 100;
                margin-left: 15px;
            }
        }
        .sts {
            display: block;
            color: $white;
        }

    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.76);
    }
}
//choose
#choose {
    .col-lg-6 {
        img {
            max-width: 100%;
        }
        .right {
            h2 {
                color: $black;
            }
            .works {
                ul {
                    li {
                        list-style-type: none;
                        color: $black;
                        font-size: 18px;
                        margin-top: 30px;
                        font-weight: 600;
                        .prog {
                            position: relative;
                            &::before {
                                position: absolute;
                                content: "";
                                width: 100%;
                                background: $section;
                                height: 5px;
                                bottom: -10px;
                            }
                            &::after  {
                                position: absolute;
                                content: "";
                                width: 0;
                                height: 8px;
                                bottom: -11px;
                                animation-duration: 3s;
                                animation-delay: 1s;
                                animation-timing-function: linear;
                                animation-fill-mode: forwards; 
                            }
                        }
                        .p1 {
                            &::after  {
                                animation-name: prog1;
                                background: #67bbf7;
                            } 
                        }
                        .p2 {
                            &::after  {
                                animation-name: prog2;
                                background: #7e87c9;
                            } 
                        }
                        .p3 {
                            &::after  {
                                animation-name: prog3;
                                background: #c9048e;
                            } 
                        }
                        .p4 {
                            &::after  {
                                animation-name: prog4;
                                background: #dd9933;
                            } 
                        }
                    }
                }
            }
        }
    }
}
//hiring
#hiring {
    .col-lg-7 {
        padding: 0;
    }
    p {
        padding: 20px 0px;
    }
    h2 {
        margin-top: 20px;
        margin-top: 20px;
        color: $black;
    }
}
//clients
#clients {
    background: $section;
    padding: 50px 0px;
    ul {
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            img {
                max-width: 100%;;
            }
        }
    }
}
//plan
#plan {
    background: $section;
    .col-lg-4 {
        padding: 0;
    }
    .myCard {
        padding: 0;
        color: $black;
        &:hover {
        transform: translateY(0px);
        box-shadow: 0px 0px 32px 0px rgba(122,122,122,0.1);
    
        }
    }
    .diff {
        overflow: hidden;
        z-index: 1;
        .header {
            background: $pColor;
            color: $white;
            position: relative;
            &::after {
                content: "Popular";
                position: absolute;
                width: 166px;
                height: 40px;
                color: #323232;
                background: #fff;
                transform: rotate(45deg);
                line-height: 40px;
                font-size: 15px;
                font-weight: 600;
                top: 22px;
                right: -41px;
                box-shadow: 0px 0px 27px 7px rgba(122, 122, 122, 0.1);
            
            }
        }
        .footer {
            padding-bottom: 75px;
        }
    }
    .header {
        background: darken($section,2);
        background-size: 100% auto;
        padding: 15px 30px;
        position: relative;
        z-index: 88;
        margin-bottom: 20px;
    }
    .col-lg-4 {
        span {
            font-weight: 700;
            font-size: 70px; 
            position: relative;
            &::before {
                content: "$";
                position: absolute;
                top: 0;
                left: -20px;
                font-size: 30px;
                font-weight: 400;
            }
            &::after {
                content: "/Yearly";
                position: absolute;
                bottom: 10px;
                right: -50px;
                font-size: 15px;
                font-weight: 400;
            }
        }
    }
    .content {
        .features {
            ul {
                li {
                    list-style-type: none;
                    padding: 6px 0px;
                    i {
                        color: $pColor;
                        padding-right: 15px;
                    
                    }
                }
                .disabled {
                    i {
                        color: $sColor;
                    }
                }
            }
        }
    }
}
//works
#works {
    .portfolio-menu {
        ul {
            li {
                display: inline-block;
                cursor: pointer;
                position: relative;
                margin-right: 20px;
                font-size: 14px;
                color: $black;
                &::before {
                    position: absolute;
                    content: "";
                    width: 0px;
                    bottom: 0;
                    height: 3px;
                    left: 0;
                    background: $pColor;
                }
                &:hover {
                    color: $pColor;
                    &::before {
                        width: 100%;
                    }
                }
            }
            .active {
                color: $pColor;
                &::before {
                    width: 100%;
                }
            }
        }
    }
    .portfolio-item {
        .head {
            display: block;
            color: $white;
            font-size: 22px;
            font-weight: 600;
            text-decoration: none;
            &:hover {
                color: $pColor;
            }
        }
        .test-popup-link {
            display: block;
            padding-top: 70px;
            i {
                color: #0a0a0a;
                font-size: 13px;
                background: #ffffff;
                display: inline-block;
                padding: 14px;
                border-radius: 100%;
                margin-bottom: 15px;
            }
            
        }
        .col-lg-4{
            position: relative;
            &:hover {
                .overlay {
                    opacity: 1;
                }
            }
        }
        .item {
                img {
                    max-width: 100%;
                }

            .overlay {
                position: absolute;
                width: 92.5%;
                height: 100%;
                background: #00000045;
                opacity: 0;
                transition: all 0.3s;
                text-align: center;
                span {
                    color: $white;
                }
            }
        }
    }
}
//contact
#contact {
    background: $section;
    .col-lg-6 {
        padding: 0px 30px;
    }
    .left {
        box-shadow: 0px 0px 32px 0px rgba(122,122,122,0.1);    
        background: $white;
        padding: 45px;
        .heading {
            h3 {
                color: $black;
            }
            p {
                margin: 15px 0px;
            }
        }
        form {
            input {
                border-radius: 0;
                padding: 25px 15px;
                margin-bottom: 30px;
            }
            textarea {
                min-height: 200px;
                border-radius: 0;
            }
        }
        .message {
            color: red;
            margin-bottom: 10px;
            display: none;
        }
        .after {
            border: 4px solid lawngreen;
            padding: 20px;
            h2 {
                color: $black;
            }
        }
        .deactive {
            display: none;
        }
    }
    .col-lg-12 {
        background: $white;
    }
    .right {
        .first {
            box-shadow: 0px 0px 32px 0px rgba(122,122,122,0.1);            
            padding: 45px;
            margin-bottom: 35px;
            h3 {
                color: $black;
            }
            .line {
                margin-top: 15px;
                i {
                    font-size: 14px;
                    padding-right: 10px;
                    color: $black;
                    border: 1px solid #ddd;
                    display: inline-block;
                    text-align: center;
                    padding: 12px;
                    height: 40px;
                    width: 40px;
                    margin-right: 10px;
                    border-radius: 100%;
                }
            }
        }
        .sec {
            box-shadow: 0px 0px 32px 0px rgba(122,122,122,0.1);            
            padding: 10px;
            iframe {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

//footer
footer {
    background: #2e363a;
    padding-top: 70px;
    .col-lg-3 {
        padding: 0px 20px;
        h4 {
            color: $white;
            position: relative;
            margin-bottom: 45px;
            &::before {
                content: "";
                position: absolute;
                width: 60px;
                height: 2px;
                background: $white;
                bottom: -20px;
            }
        }
        p {
        color: #ccc;

        }
        .news {
            ul {
                padding: 0;
                li {
                    list-style-type: none;
                    a {
                        color: #ccc;
                        text-decoration: none;
                        display: block;
                        &:hover {
                            color: $white;
                        }
                    }
                    span {
                        font-size: 14px;
                        font-style: italic;
                    }
                }
            }
        }
        .category {
            ul {
                padding: 0;
                li {
                    list-style-type: none;
                    display: flex;
                    position: relative;
                    justify-content: space-between;
                    padding-left: 20px;
                    a {
                        color: #ccc;
                        text-decoration: none;
                        &:hover {
                            color: $white;
                        }
                    }
                    span {
                        margin-right: 15px;
                    }
                    &::before {
                        color: #fff;
                        content: "\f105";
                        display: inline-block;
                        font-family: 'Font Awesome 5 Free';
                        font-size: 13px;
                        left: 3px;
                        position: absolute;
                        top: 2px;
                        font-weight: 900;
                    }
                }
            }
        }
        .col-lg-6 {
            padding-bottom: 10px;
            a {
                display: block;
                position: relative;
                img {
                    max-width: 100%;
                }
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                   
                }
                &:hover {
                    &::before {
                        background: #ffffff47;
                    }
                }

            }
        }
    }
    .col-lg-6 {
        .socials {
            a {
                padding-left: 10px;
                &:hover {
                    i {
                        border: none;
                    }
                    .fa-vimeo-square {
                        background: #aad450;
                    }
                    .fa-dribbble {
                        background: #ea4c89;
                    }
                }
            }
            i {
                text-align: center;
                border: 2px solid;
                border-radius: 100%;
                line-height: 37px;
            }
        }
        .left {
            ul {
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    padding-right: 15px;
                    a {
                        color: #ccc;
                        text-decoration: none;
                        &:hover {
                            color: $pColor;
                        }
                    }
                }
            }
        }

    }
    .last {
        background: #25292f;
        padding: 20px;
        margin-left: 0;
        max-width: 100%;
        .col-lg-4 {
            p {
                font-size: 14px;
                margin: 0;
                color: #fff;

                a {
                    color: #ccc;
                    text-decoration: none;
                    &:hover {
                        color: $sColor;
                    }
                }
            }
        }
    }
    
}
//custom 
#custom {
    background-image: url("../img/custom.jpg");
    background-position: center;
    background-size: cover;
    padding: 120px 0px;
    position: relative;
    h1 {
        color: $white;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: #00000045;
        width: 100%;
        height: 100%;
    }
    .road {
        span {
            color: $white;
            margin-left: 10px;

        }
        .home {
            a {
                color: rgba(255, 255, 255, 0.719);
                text-decoration: underline;
            }
            &::after {
                content: "\f105";
                margin-left: 10px;
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-size: 11px;
                text-decoration: none;
            }
        }
    }
}
@media (max-width: 800px) {
    .myCard {
        z-index: 1;
    }
    header {
        .heading {
            .col-lg-8 {
                display: none;
            }
            .right {
                .socials1 {
                    li {
                        margin: 4px;
                    }
                }
            }
        }
        .info-head {
            .col-lg-10 {
                text-align: center!important;
            }
            .col-lg-2 {
                text-align: center;
                margin-bottom: 20px;
            }
        }
        .scrolled {
            position: relative;
        }
    }
    #home {
        .slide {
            .col-lg-8 {
                margin: 0;
            }
        }
    }
    #buy {
        a {
            display: none;
        }
    }
    
}


